<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script>
      var dashboardId = "{{dashboard_id}}";
      var accessToken = "{{access_token}}";
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="/static/bower_components/powerbi-client/dist/powerbi.js"></script>
    <style>
      body, html{
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0;
      }
      iframe{
        border: 0;
      }
      #dashboardContainer{
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="dashboardContainer"></div>
    <script src="/static/js/app.js"></script>
  </body>
</html>